name: Deploy Cine Backend to Azure

on:
  push:
    branches:
      - main   

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Login to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: cineappregistry.azurecr.io
          username: ${{ secrets.cineappregistry }}
          password: ${{ secrets.niBoAhCkBiqfZrwLdal5u1KsCCXWkjuaasL6ehhz69+ACRAo9DfM }}

      - name: Build and push Docker image
        run: |
          docker build -t cineappregistry.azurecr.io/cine-backend:${{ github.sha }} .
          docker push cineappregistry.azurecr.io/cine-backend:${{ github.sha }}

      - name: Deploy to Azure Web App (Container)
        uses: azure/webapps-deploy@v2
        with:
          app-name: cine-backend-app
          images: cineappregistry.azurecr.io/cine-backend:${{ github.sha }}
