name: Build and Deploy to AKS

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  id-token: write

jobs:
  # -----------------------------------------------------------
  # JOB 1: CHECK THAY ĐỔI FILE (FILTER)
  # -----------------------------------------------------------
  check-changes:
    runs-on: ubuntu-latest
    outputs:
      should_run: ${{ steps.filter.outputs.backend }}
    steps:
    - uses: actions/checkout@v4
    
    - uses: dorny/paths-filter@v3
      id: filter
      with:
        filters: |
          backend:
            - 'src/**'
            - 'package*.json'
            - 'tsconfig.json'
            - 'Dockerfile'
            - 'infra/helm/**'

  # -----------------------------------------------------------
  # JOB 2: BUILD & PUSH (CHỈ CHẠY NẾU CÓ THAY ĐỔI)
  # -----------------------------------------------------------
  build-and-push:
    needs: check-changes
    if: ${{ needs.check-changes.outputs.should_run == 'true' }}
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Login to ACR
      run: az acr login --name ${{ secrets.ACR_NAME }}

    - name: Build and Push Docker Image
      # Dùng tag 'latest'
      run: |
        docker build -t ${{ secrets.ACR_NAME }}.azurecr.io/cine-backend:latest .
        docker push ${{ secrets.ACR_NAME }}.azurecr.io/cine-backend:latest

  # -----------------------------------------------------------
  # JOB 3: DEPLOY HELM (CHẠY SAU KHI PUSH XONG)
  # -----------------------------------------------------------
  deploy-to-aks:
    needs: [check-changes, build-and-push]
    if: ${{ needs.check-changes.outputs.should_run == 'true' }}
    permissions:
      actions: read
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Set AKS Context
      uses: azure/aks-set-context@v3
      with:
        resource-group: ${{ secrets.RESOURCE_GROUP }}
        cluster-name: ${{ secrets.CLUSTER_NAME }}

    - name: Install Helm
      uses: azure/setup-helm@v3
      with:
        version: 'v3.11.1'

    - name: Deploy to AKS using Helm
      # QUAN TRỌNG:
      # 1. image.tag=latest
      # 2. podAnnotations.rollme=$(date +%s): Bắt buộc phải có dòng này để ép Kubernetes restart Pod 
      #    vì tag 'latest' không thay đổi nên K8s sẽ tưởng không có gì mới.
      run: |
        helm upgrade --install cine-release ./infra/helm/cine-chart \
          --set image.repository=${{ secrets.ACR_NAME }}.azurecr.io/cine-backend \
          --set image.tag=latest \
          --set podAnnotations.rollme=$(date +%s)